.bg-img {
    background-image: url("../Stuff/sbgImgg.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 8px solid #222;
}

.container {
    box-sizing: border-box;
    position: relative;
    max-width: 450px;
    padding: 50px 70px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 30px auto 0 auto;
    height: auto;
}

@media screen and (max-width: 450px){
    .container{
        padding: 50px 35px;
    }
}

.signininput{
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}
  
.signinbtn{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #E50914;
    border-radius: 5px;
    border: none;
    margin: 25px 0 0 0;
}

.signinnav{
    display: block;
} 


/* sjicjsjskj */

.firstLine {
	width: 100%;
	display: flex;
    justify-content: space-between;
	font-size: 0.9em;
    margin-top: 10px;
}

.firstLineL{
    margin-left: 6px;
}

.fcbk {
	width: 100%;
	display: flex;
	font-size: 0.8em;
    margin-top: 10px;
}

.fcbk img {
	width: 20px;
	margin-right: 10px;
}

.signup {
	width: 100%;
	display: flex;
}

.signup a {
    font-size: 1.1em;
    margin-top: -3px;
}

.signup p {
	margin-right: 10px;
    font-size: 0.9em;
}

.more {
	font-size: 0.8em;
}

.more a {
	color: rgb(17, 108, 228);
}

.signupa, .morea, .firstLineA{
    text-decoration: none;
}

.signupa:hover,
.morea:hover,
.firstLineA:hover{
	text-decoration: underline;
}
