@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

.main_container_one{
  /* border: 5px solid wheat; */
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 10px;
  padding: 50px 5%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: 'Alexandria', sans-serif;
}

.container_one{
  /* border: 5px solid wheat; */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
}

.leftside_one{
  width: 100%;
  padding: 2%;
  height: auto;
  border: 5px solid wheat;
} 

.leftside_one h1{
  font-weight: 600;
  font-size: 50px;
  line-height: 90px;
} 

.leftside_one h2{
  font-size: x-large;
} 

#tv_container_one img{
  width: 100%;
  padding: 5%;
  height: auto;
  border: 5px solid wheat;
}

@media (max-width: 950px) {
  .main_container_one{
    text-align: center;
  }
  .container_one{
    flex-direction: column;
  }
  .leftside_one h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 90px;
  } 
  .leftside_one h2{
    font-size: large;
  } 
  #tv_container_one img{
    width: 70%;
    padding: 5%;
    height: auto;
  }
}

@media (max-width: 550px) {
  .main_container_one{
    text-align: center;
  }
  .container_one{
    flex-direction: column;
  }
  .leftside_one h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 90px;
  } 
  .leftside_one h2{
    font-size: large;
  } 
  #tv_container_one img{
    width: 70%;
    padding: 5%;
    height: auto;
  }
}

