#tv_container_three {
  width: 600px;
  height: 450px;
  position: relative;
  background: #000000;
  z-index: 1;
}

.monitor_three {
  width: 100%;
  height: 100%;
  background-image: url("https://help.nflxext.com/43e0db2f-fea0-4308-bfb9-09f2a88f6ee4_what_is_netflix_1_en.png");
  background-position: center;
  background-size: cover;
}

.tv-video2_three {
  position: absolute;
  top: -5px;
  left: 109px;
  width: 378px;
  height: 291px;
  z-index: -1;
}

.leftside_three{
  color: white;
}

.container_three{
  display: flex;
  flex-direction: row;
  align-items: center;
}
