.Weblogo{
    height: 13vh;
} 

.nav{
    z-index: 1;
}
 
.navbtn{
    background-color: #E50914;
    border: none;
}

.navbtn:hover{
    background-color: #E50914; 
}

.toggle{
    height: auto;
    padding: 5px 7px;
    background-color: #E50914;
}

@media screen and (max-width: 750px) {
    .Weblogo{
        height: 9vh;
    } 
    .toggle { 
       padding: 3px 5px; 
    }
}

@media screen and (max-width: 550px) {
    .Weblogo{
        height: 9vh;
    } 
    .toggle { 
       padding: 2px 3px; 
    }
}

