.Footer{
    color: rgb(204, 203, 203); 
    /* border: 2px solid red;  */
    padding: 50px 0 50px 130px; 
}

ul li {
    list-style-type:none;
    line-height: 30px;
}

a{
    color: rgb(204, 203, 203);
}

a:hover{
    color: rgb(204, 203, 203);
}

.Row{
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    left: -55px;
    margin: 30px 0;
}


  
/* .========================== */

.signup_btm{
    color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 50px 0 0 130px;
}

.text_btm{
    font-size: larger;
}

.signup_secondLine_btm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.signup_secondLine_btm input{
    background-color: black;
    color: rgb(204, 203, 203);
    border: 1px solid grey;
    border-radius: 5px;
}

.signup_btn_btm, .signup_input_btm{
    height: 55px;
    border: none;
}

.signup_btn_btm{
    width: 170px;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    font-weight: 600;
    font-size: larger;
    background-color: #E50914;
    color: white;
    border-radius: 5px;
    margin-right: 30px;
}

.signup_input_btm{
    width: 450px;
    padding: 20px;
    margin-right: 20px;
    font-size: large;
    font-family: 'Noto Sans Lao Looped', sans-serif;
}
/* =================================== */

@media screen and (max-width: 991px) {
    .Footer{
        padding: 80px; 
    } 
    .signup_btm{
        padding-left: 80px;
    }
}
  
@media screen and (max-width: 699px) {
    .signup_btn_btm{
        /* margin-top: 20px; */
        width: 140px;
        font-size: large;
    }
    .signup_btn_btm, .signup_input_btm{
        height: 45px;
    }
}
@media screen and (max-width: 670px) {
    .signup_btn_btm{
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {
    .Footer{
        padding: 30px; 
    }    
    .signup_btm{
        padding-left: 30px;
    }
    .text_btm{
        font-size: large;
    }
}
